<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style type="text/css">
        div, tr, td, p, a, h1, h2, h3, h4, h5, h6, ul, li {
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
        }
        img {
            max-width: 100%;
            border: none;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        a img {
            border: none;
        }
    </style>
</head>

<body>
<h3>huang的练习|重设邮箱</h3>
<p>您的验证码是{{ active_code }}</p>
<p>来自huang的练习，有问题请联系953743087</p>
</body>

</html>